In [1]:
import pandas as pd

In [2]:
df_adbe = pd.read_csv('ADBE.csv')
df_akam = pd.read_csv('AKAM.csv')
df_ew = pd.read_csv('EW.csv')
df_fb = pd.read_csv('FB.csv')

In [3]:
dfs = [df_adbe, df_akam, df_ew, df_fb]
symbols = ['ADBE', 'AKAM', 'EW', 'FB']

for i, df in enumerate(dfs):
    df.drop(columns=['Open', 'High', 'Low', 'Adj Close'], inplace=True)
    df['Symbol'] = symbols[i]

In [4]:
final_df = pd.concat(dfs)

In [5]:
final_df

           Date       Close    Volume Symbol
0    2020-03-25  305.910004   4830400   ADBE
1    2020-03-26  322.670013   4531000   ADBE
2    2020-03-27  305.829987   4862100   ADBE
3    2020-03-30  318.390015   4340200   ADBE
4    2020-03-31  318.239990   6413700   ADBE
..          ...         ...       ...    ...
247  2021-03-18  278.619995  18728300     FB
248  2021-03-19  290.109985  38905100     FB
249  2021-03-22  293.540009  28273100     FB
250  2021-03-23  290.630005  23000900     FB
251  2021-03-24  282.140015  18651500     FB

[1008 rows x 4 columns]

In [6]:
df_fb.to_csv('fb_data.csv')

In [7]:
final_df.to_csv('stock_data.csv')