In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('crime-incident-reports-2018.csv')

In [3]:
used_offenses = ['Aggravated Assault', 'Auto Theft', 'Harassment', 'Robbery']
used_districts = ['D4', 'B2', 'E13']
# keep rows only with these values
df2 = df[df['OFFENSE_CODE_GROUP'].isin(used_offenses) & df['DISTRICT'].isin(used_districts)]

In [4]:
# group by district and offense code group, aggregate with count
df2 = pd.DataFrame(df2.groupby(['DISTRICT', 'OFFENSE_CODE_GROUP']).count()).reset_index()
df2

,DISTRICT,OFFENSE_CODE_GROUP,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,B2,Aggravated Assault,531,531,531,531,56,531,531,531,531,531,531,514,492,492,531
1,B2,Auto Theft,237,237,237,237,0,237,237,237,237,237,237,229,221,221,237
2,B2,Harassment,240,240,240,240,0,240,240,240,240,240,240,240,237,237,240
3,B2,Robbery,185,185,185,185,1,185,185,185,185,185,185,179,170,170,185
4,D4,Aggravated Assault,285,285,285,285,8,285,285,285,285,285,285,280,253,253,285
5,D4,Auto Theft,166,166,166,166,0,166,166,166,166,166,166,161,148,148,166
6,D4,Harassment,115,115,115,115,0,115,115,115,115,115,115,115,114,114,115
7,D4,Robbery,141,141,141,141,0,141,141,141,141,141,141,138,125,125,141
8,E13,Aggravated Assault,122,122,122,122,12,122,122,122,122,122,122,119,117,117,122
9,E13,Auto Theft,74,74,74,74,0,74,74,74,74,74,74,71,72,72,74
10,E13,Harassment,72,72,72,72,0,72,72,72,72,72,72,71,70,70,72
11,E13,Robbery,57,57,57,57,0,57,57,57,57,57,57,56,55,55,57

In [5]:
df2['DISTRICT'] = df2.DISTRICT.map({'B2': 'Roxbury', 'D4': 'South End', 'E13': 'Jamaica Plain'})

In [6]:
df2.rename(columns={'INCIDENT_NUMBER': 'INCIDENT_COUNTS'}, inplace=True)

In [7]:
# final df has district, offense type, number of incidents, and number of shootings
df2.to_csv('crime_data.csv')