In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read in data from csv
df = pd.read_csv("allemployeescy2019_feb19_20final-all.csv")

In [3]:
df.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Bottomley,Torii A",BPS Business Service,BPS Worker's Comp Job Class,-,-,-,-,"772,034.24",-,-,"772,034.24",1938
1,"Smith,Lincoln",Workers Compensation Service,Workers Comp Job Classificatn,-,-,-,-,"401,182.80",-,-,"401,182.80",2125
2,"Kervin,Timothy M.",Boston Police Department,Police Lieutenant/Hdq Dispatch,"142,061.86",-,"21,262.85","115,361.12",-,"41,360.00","35,492.87","355,538.70",2135
3,"Danilecki,John H",Boston Police Department,Police Captain,"161,608.85",-,"24,040.29","68,964.13",-,"53,040.00","40,402.20","348,055.47",2081
4,"Maguire,Joseph M",Boston Police Department,Police Sergeant/Hdq Dispatcher,"128,912.77",-,"7,128.30","121,616.21",-,"55,544.00","31,310.86","344,512.14",2038

## Cleaning ToDo List
##### The goal: a dataframe with two columns, department_name and frequency. The frequency column represents the frequency of each department_name in relation to the other target department names. This frequency is a percentage out of 100.

#### Define

Create list of target departments and access only rows with those department names. Set df to this modified dataframe.

In [6]:
df.DEPARTMENT_NAME.value_counts().index

Index(['Boston Police Department', 'Boston Fire Department',
       'BPS Substitute Teachers/Nurs', 'BPS Special Education',
       'BPS Transportation', 'BPS Facility Management',
       'Boston Public Library', 'Boston Cntr - Youth & Families',
       'Public Works Department', 'Traffic Division',
       ...
       'Legal Advisor', 'Dorchester Academy', 'Boston Cntr-Youth & Families',
       'BPS Mattahunt Elementary', 'DND Neighborhood Development',
       'Fenway High School', 'BPS Facilitites Management',
       'BPS MPH\Commerce Academy', 'BPS MPH\Crafts Academy',
       'BPS Withthrop Elementary'],
      dtype='object', length=230)

In [7]:
# Get rows with desired departments under DEPARTMENT_NAME
target_departments = ['Boston Police Department', 'BPS Substitute Teachers/Nurs', 
                      'BPS Transportation', 'Boston Fire Department', 
                      'BPS Special Education', 'BPS Business Service', 
                      'Boston Public Library', 'BPS Facility Management',
                      'Boston Cntr - Youth & Families', 'Public Works Department', 'Traffic Division']

df = df[df['DEPARTMENT_NAME'].isin(target_departments)]

#### Define

Use pd.drop to drop all columns except department_name

In [8]:
# drop all columns except for DEPARTMENT_NAME
df.drop(['NAME', 'TITLE', ' REGULAR ', ' RETRO ', ' OTHER ', ' OVERTIME ', ' INJURED ', ' DETAIL ', ' QUINN/EDUCATION INCENTIVE ', 'TOTAL EARNINGS', 'POSTAL'], axis=1, inplace=True)

#### Define

Use df.value_counts() to get count of each department name and turn this into a dataframe with frequency as the column name. Then change frequency values to percentages out of 100 in decimal format. Finally, use reset_index() to make department_name a column and create numbered indexing and make DEPARTMENT_NAME lowercase.

In [9]:
# create dataframe with department_names and frequency
viz_df = pd.DataFrame(df.value_counts(), columns= ['frequency'])

In [10]:
# change values in value column to represent percent out of 100 in decimal format
viz_df['frequency'] = viz_df.frequency / viz_df.frequency.sum()

In [11]:
# verifying operation worked
viz_df

                                frequency
DEPARTMENT_NAME
Boston Police Department         0.326382
Boston Fire Department           0.176212
BPS Substitute Teachers/Nurs     0.092596
BPS Special Education            0.085512
BPS Transportation               0.065157
BPS Facility Management          0.058471
Boston Public Library            0.056077
Boston Cntr - Youth & Families   0.049591
Public Works Department          0.043504
Traffic Division                 0.038715
BPS Business Service             0.007783

In [12]:
# add index to dataframe
viz_df.reset_index(inplace=True)

In [13]:
# rename DEPARTMENT_NAME column to value
viz_df.rename(columns={"DEPARTMENT_NAME": "department_name"}, inplace=True)
viz_df.rename(columns={"DEPARTMENT_NAME": "department_name"}, inplace=True)

#### Define

Export dataframe as csv without the index. This is because the Observable notebook would read the index as another column.

In [14]:
# export dataframe to csv
viz_df.to_csv('final_earnings_data.csv', index=False)

In [15]:
# final dataframe
viz_df

                   department_name  frequency
0         Boston Police Department   0.326382
1           Boston Fire Department   0.176212
2     BPS Substitute Teachers/Nurs   0.092596
3            BPS Special Education   0.085512
4               BPS Transportation   0.065157
5          BPS Facility Management   0.058471
6            Boston Public Library   0.056077
7   Boston Cntr - Youth & Families   0.049591
8          Public Works Department   0.043504
9                 Traffic Division   0.038715
10            BPS Business Service   0.007783