In [1]:
import pandas as pd
import requests
import json

In [29]:
data = requests.get('https://unpkg.com/world-atlas@2/countries-110m.json').text

In [30]:
data = json.loads(data)

In [39]:
co2_df = pd.read_csv('owid-co2-data.csv')

In [47]:
co2_df.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [56]:
co2_df_2019 = co2_df[co2_df['year'] == 2019]

In [49]:
ids = list(map(lambda x: x['properties']['name'], data['objects']['countries']['geometries']))

In [51]:
mapped_ids = list(map(lambda x: {'country': x}, ids))

In [66]:
geo_co2_df = pd.DataFrame(mapped_ids)
geo_co2_df.head()

                    country
0                      Fiji
1                  Tanzania
2                 W. Sahara
3                    Canada
4  United States of America

In [67]:
geo_co2_df = geo_co2_df.merge(co2_df_2019, left_on='country', right_on='country', how='left')

In [71]:
geo_co2_df.to_csv('co2_data.csv')